<header class='article-header {{ heading_class }}' {{ heading_tag_etc }}>
  <div class='info {{ page.header.info }}'>
    <h1 {% if page.header.title %}
      class="{{ page.header.title }}"
      {% endif %}
      {% if page.header.title_style %}
        style="{% for key, value in page.header.title_style %}
          {{ key }}: {{ value }};
        {% endfor %}"
      {% endif %}
      ><a href="{{ page.url }}">{{ page.title }}</a></h1>
    {% if page.subtitle %}
    <h2>{{ page.subtitle }}</h2>
    {% endif %}
    {% include "_metadata.html" %}
  </div>
</header>


