{% set body_class = "home" %}
{% extends "layout.html" %}

{% block content %}
<div class='page-home'>
  <header class='main-header'>
    <hgroup id='name'>
      <p class='lead'>Hi, I'm</p>
      <h1>
        <span class='first'>Matthew</span><span class='last'>Lyon</span>
      </h1>
    </hgroup>
  </header>

  <section class='main-content archive-list'>
    {% for page in collections.articles %}
    <article>
      <header>
        {% include "_metadata.html" %}
        <h1>
          <a href="{{ page.url }}">{{ page.title }}</a>
        </h1>
        {% if page.subtitle %}
        <h2>{{ page.subtitle }}</h2>
        {% endif %}
      </header>
    </article>
    {% endfor %}
  </section>
</div>
{% endblock %}
