.icon-envelope { background-image: url('png/envelope.png'); background-repeat: no-repeat; }

.icon-flickr { background-image: url('png/flickr.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-linkin { background-image: url('png/linkin.png'); background-repeat: no-repeat; }

.icon-name { background-image: url('png/name.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png/pinterest.png'); background-repeat: no-repeat; }

.icon-soundcloud { background-image: url('png/soundcloud.png'); background-repeat: no-repeat; }

.icon-tweeter { background-image: url('png/tweeter.png'); background-repeat: no-repeat; }

