@import "type";
@import "colors";
@import "layout";

article.article-main {
  margin-bottom:      1em;
  section.lead {
    @include region-margin;
    font-size:        percentage(1 / $second);
  }
  header {
    position:         relative;
    width:            100%;
    @include region-margin;
    &.article-header-banner {
      @include region-margin(0);
      height:         400px;
      .info {
        position:     absolute;
        right:        0;
        left:         0;
        bottom:       15%;
      }
    }
    .image {
      position:       absolute;
      top:            0;
      bottom:         0;
      left:           0;
      right:          0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
    }
    .info {
      &.white-text {
        color:        $grey-bright;
      }
    }
    h1 {
      font-size:        percentage($fifth);
      line-height:      1em;
    }
    h2 {
      font-size:        percentage($fourth);
      font-weight:      100;
      @include text-height-normal;
    }
    .article-metadata {
      font-weight:    400;
    }
  }
  &> header .info,
  &> section > h2,
  &> section > p,
  &> section > blockquote,
  &> section > ul,
  &> section > pre,
  &> footer {
    @include inset-center;
    max-width: 35 * $text-base;
    @include media($mobile) {
      @include inset-margin;
      max-width: auto;
    }
  }
  &> section > pre {
    max-width: 37 * $text-base;
  }

  .article-content {
    @include region-margin;
  }
  .article-content h2 {
    @include text-margin-heading;
    @include text-size($second);
    font-weight:        900;
    text-transform:     uppercase;
  }
  p {
    @include text-margin-flow;
    @include text-height-normal;
  }
  blockquote p {
    color:              $grey-darker;
  }
  blockquote footer {
    @include            text-size($text-size-small);
  }
  ul, ol {
    margin-left: 1.5em;
  }

  a {
    color:              $red-med;
    &:visited {
      color:            darken($red-med, 20%);
    }
  }
  a[rel=footnote], a[rev=footnote] {
    color:              $grey-darker;
    text-decoration:    none;
    font-weight:        bold;
  }
  footer.article-footer {
    @include region-padding;
    border-top: 1px dotted $grey-lukewarm;
    section {
      @include            text-size($text-size-smaller);
      @include            text-height-crowded;
      @include section-padding;
    }
    h2 {
      font-weight: 600;
      @include text-size($text-size-small);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      @include text-margin-offset;
      color: $grey-darkish;
    }

    p {
      @include text-height-crowded;
      @include text-margin-flow;
    }

    img.image-left {
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      float: left;
    }
    .article-footer-section-small {
      p {
        @include text-size($text-size-smaller);
      }
    }
    &.article-footer-wide {
      max-width: 996px;
      @include inset-center;
      @include inset;
      .article-footer-sections-narrow {
        @include text-columns(2, 20px);
        section {
          @include text-avoid-breaks;
        }
      }
      section.article-footer-section-wide {
        .footer-section-content {
          @include text-columns(2, 20px);
        }
        p, li {
          @include text-avoid-breaks;
        }
      }
    }
  }

}

#footnoter {
  position:           fixed;
  bottom:             0;
  left:               0;
  right:              0;
  background:         $grey-warm;
  opacity:            0;
  transition:         opacity, transform;
  transition-duration: 0.25s;
  .footnote-liner {
    @include inset-center;
    @include region-margin(0.5);
    max-width:        630px;
  }
  .footnote-number {
    float: left;
    margin-right: 10px;
    margin-top: -5px;
    font-size: 1.5em;
    opacity: 0.25;
  }
  .footnote-content {
    @include          text-size($text-size-small);
    @include          text-height-crowded;
    margin-left:      2em;
  }
}
