
$blue-hue: 220;
$blue-sat: 18%;

$grey-hue: 19;
$grey-sat: 10%;

$yellow-hue: 37;
$yellow-light: 66%;

$blue-dark:       hsl($blue-hue, $blue-sat, 16%);
$blue-darker:     hsl($blue-hue, $blue-sat, 11%);
$blue-dark-mute:  hsl($blue-hue, $grey-sat, 13%);

$yellow-bold:     hsl($yellow-hue, 100%, $yellow-light);
$yellow-light:    hsl($yellow-hue,  60%, $yellow-light);

$red-med:         #cb441f;

$grey-superbright:  hsl($grey-hue, $grey-sat, 96%);
$grey-bright:     hsl($grey-hue, $grey-sat, 93%);
$grey-warm:       hsl($grey-hue, $grey-sat, 83%);
$grey-lukewarm:   hsl($grey-hue, $grey-sat, 73%);
$grey-darker:     hsl($grey-hue, $grey-sat, 58%);
$grey-darkish:    hsl($grey-hue, $grey-sat, 38%);
$blackish:        hsl($grey-hue, $grey-sat, 20%);
$blacker:         hsl($grey-hue, $grey-sat, 12%);
