@import "bourbon/bourbon";
@import "neat/neat-helpers";
$grid-columns: 6;
$mobile: new-breakpoint(max-width 480px);
$tablet: new-breakpoint(min-width 481px max-width 768px);
$small:  new-breakpoint(max-width 768px);
$medium: new-breakpoint(min-width 769px max-width 1199px);
$large:  new-breakpoint(min-width 1200px);
@import "neat/neat";


$page-inset:          20px;
$page-inset-mob:      10px;
@mixin inset() {
  padding-left:       $page-inset;
  padding-right:      $page-inset;
  @include media($small) {
    padding-left:     $page-inset-mob;
    padding-right:    $page-inset-mob;
  }
}
@mixin flush() {
  margin-left:        $page-inset * -1;
  margin-right:       $page-inset * -1;
  @include media($small) {
    margin-left:      $page-inset-mob * -1;
    margin-right:     $page-inset-mob * -1;
  }
}

@mixin page-level() {
  @include inset;
  @include clearfix;
}
