@import "type";
@import "colors";
@import "layout";

article.article-main {
  @include inset;
  section#lead {
    @include region-margin;
    font-size:        percentage(1 / $second);
  }

  header {
    position:         relative;
    @include region-margin;
    &.article-header-banner {
      @include flush;
      @include region-margin(0);
      height:         400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      .info {
        padding: 0;
        @include media($mobile) {
          @include inset;
        }
        position:     absolute;
        right:        0;
        left:         0;
        bottom:       15%;
      }
    }
    .info {
      @include inset;
      &.white-text {
        color:        $grey-bright;
      }
      &.top-30 {
        bottom: none;
        top: 30%;
      };
    }
    h1 {
      font-size:        percentage($fifth);
      line-height:      1em;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    h2 {
      font-size:        percentage($fourth);
      font-weight:      100;
      @include text-height-normal;
    }
    .article-metadata {
      font-weight:    400;
    }
  }
  &> header .info,
  &> section > h2,
  &> section > p,
  &> section > blockquote,
  &> section > ul,
  &> section > pre,
  &> section > .section-content,
  &> footer {
    @include inset-center;
    @include width-text(37);
  }
  &> section > pre {
    @include width-text(40);
  }

  .article-content {
    @include region-margin;
  }
  .article-content h2 {
    @include text-margin-heading;
    @include text-size($second);
    font-weight:        700;
    text-transform:     uppercase;
    color: $grey-darkish;
  }
  section {
    p {
      @include text-margin-flow;
      @include text-height-normal;
    }
    blockquote p {
      color:              $grey-darker;
    }
    blockquote footer {
      @include            text-size($text-size-small);
    }
    ul, ol {
      list-style-position: inside;
    }

    $visited-link: darken($red-med, 10%);
    $link-trans: 0.25s;
    a {
      @include            transition(
                            color $link-trans ease-in,
                            background-color $link-trans ease-in
                          );
      @include            underline($red-med);
      color:              $red-med;
      margin: -3px;
      padding: 3px;
      &:visited {
        color:            $visited-link;
        @include          underline-color($visited-link);
      }
    }

    &#lead,
    &.article-content {
      a {
        &:focus, &:hover {
          background-color: $grey-warm;
          border-radius: 3px;
          // color: $grey-bright;
          outline: none;
        }
      }
    }
    a[rel=footnote], a[rel=footnote]:visited,
    a[rev=footnote], a[rev=footnote]:visited {
      @include            no-underline;
      color:              $grey-darker;
      text-decoration:    none;
      font-weight:        bold;
      &:hover, &:focus {
        background-color: inherit;
        color: $grey-darker;
      }
    }
  }

  section.article-section-2col {
    .section-content {
      @include text-columns(2, 20px);
      p, li {
        @include text-avoid-breaks;
      }
    }
  }

  footer.article-footer {
    @include region-padding(0.5);
    border-top: 1px dotted $grey-lukewarm;
    section {
      @include            text-size($text-size-smaller);
      @include            text-height-crowded;
      @include section-padding;
    }
    h2 {
      font-weight: 600;
      @include text-size($text-size-small);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      @include text-margin-offset;
      color: $grey-darkish;
    }

    p {
      @include text-height-crowded;
      @include text-margin-flow;
    }

    img.image-left {
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      float: left;
    }
    .article-footer-section-small {
      p {
        @include text-size($text-size-smaller);
      }
    }
    &.article-footer-wide {
      @include page-width;
    }
    #colophon {
      @include text-size($text-size-tiny);
    }
  }
}
nav#article-relative-nav {
  margin-bottom: 1em;
  @include inset-center;
  @include page-width;
  @include clearfix;
  position: relative;
  a {
    @include text-size($text-size-smaller);
    color: $grey-darker;
    margin: -1em;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
  }
  .later {
    @include span-columns(2);
    text-align: left;
  }
  .home {
    @include span-columns(2);
    text-align: center;
  }
  .earlier {
    @include span-columns(2);
    text-align: right;
  }
}

#footnoter {
  position:           fixed;
  bottom:             0;
  left:               0;
  right:              0;
  background:         $grey-warm;
  opacity:            0;
  transition:         opacity, transform;
  transition-duration: 0.25s;
  .footnote-liner {
    @include inset-center;
    @include region-margin(0.5);
    max-width:        630px;
  }
  .footnote-number {
    float: left;
    margin-right: 10px;
    margin-top: -5px;
    font-size: 1.5em;
    opacity: 0.25;
  }
  .footnote-content {
    @include          text-size($text-size-small);
    @include          text-height-crowded;
    margin-left:      2em;
  }
}
