@import "type";
@import "colors";
@import "layout";

article.article-main {
  @include inset;
  section#lead {
    @include region-margin;
    font-size:        percentage(1 / $second);
  }

  header {
    position:         relative;
    @include region-margin;
    &.article-header-banner {
      @include flush;
      @include region-margin(0);
      height:         400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      &.mobile-banner-left-30 {
        @include media($mobile) {
          background-position: 30%;
        }
      }
      .info {
        @include media($mobile) {
          @include inset;
        }
        position:     absolute;
        right:        0;
        left:         0;
        bottom:       15%;
      }
    }
    .info {
      &.white-text {
        color:        $grey-superbright;
        text-shadow:  2px 2px 4px $grey-darkish;
      }
      &.top-30 {
        bottom: none;
        top: 30%;
      }
      &.mobile-top-10 {
        @include media($mobile) {
          top: 10%;
        }
      }
    }
    h1 {
      font-size:        percentage($fifth);
      line-height:      1em;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    h2 {
      font-size:        percentage($fourth);
      font-weight:      100;
      @include text-height-normal;
    }
    .article-metadata {
      font-weight:    400;
    }
  }

  hr {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &> header .info,
  &> section > h2,
  &> section > p,
  &> section > blockquote,
  &> section > ul,
  &> section > pre,
  &> section > .hr-wrapper,
  &> section > .section-content,
  &> footer {
    @include inset-center;
    @include width-text(50);
    @include media($tablet-up) {
      padding-right: 15 * $text-base;
    }
  }
  &> section > pre {
    @include width-text(40);
  }

  .article-content {
    @include region-margin;
  }
  .article-content h2 {
    @include text-margin-heading;
    @include text-size($fourth);
    font-weight:        700;
    color: $red-med;
  }
  section {
    p {
      @include text-margin-flow;
      @include text-height-normal;
    }
    blockquote {
      color: $grey-darkish;
      border-left: 10px solid $grey-lukewarm;
      padding: 0.5em 1em;
      p:last-child {
        margin-bottom: 0;
      }
    }
    blockquote footer {
      @include            text-size($text-size-small);
    }
    ul, ol {
      list-style-position: inside;
    }

    $visited-link: darken($red-med, 10%);
    $link-trans: 0.25s;
    a {
      @include            transition(
                            color $link-trans ease-in,
                            background-color $link-trans ease-in,
                            border-color $link-trans ease-in
                          );
      @include            underline($red-med);
      color:              $red-med;
      margin: -3px -1px;
      padding: 3px 1px;
      &:visited {
        color:            $visited-link;
        @include          underline-color($visited-link);
      }
    }

    a[rel=footnote], a[rel=footnote]:visited, {
      @include            no-underline;
      text-decoration:    none;
      color: $grey-lukewarm;
      border: 1px solid $grey-lukewarm;
      font-family: $display-family;
      &:hover, &:focus {
                 color: $grey-bright;
                 background-color: $grey-darker;
                 border-color: $grey-darker;
      }
      position: relative;
      margin: 0 3px;
      padding: 2px 4px 2px 5px;
      border-radius: 10px;
      min-width: 15px;
      font-weight:        bold;
      line-height: 0;
      sup {
        vertical-align: inherit;
        font-size: inherit;
      }
    }
    a[rev=footnote],
    a[rev=footnote]:visited {
      @include no-underline;
      text-decoration: none;
      color: $grey-lukewarm;
      font-size: 1.2em;
      line-height: 0;
      position: relative;
      display: inline-block;
      line-height: 0;
      top: 4px;
      @include media($mobile) {
        top: -4px;
      }
    }

    .math {
    }
  }

  section.article-section-2col {
    .section-content {
      @include text-columns(2, 20px);
      p, li {
        @include text-avoid-breaks;
      }
    }
  }

  footer.article-footer {
    @include region-padding(0.5);
    border-top: 1px dotted $grey-lukewarm;
    padding-right: 0;
    section {
      @include            text-size($text-size-smaller);
      @include            text-height-crowded;
      @include section-padding;
    }
    h2 {
      font-weight: 600;
      @include text-size($text-size-small);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      @include text-margin-offset;
      color: $grey-darkish;
    }

    p {
      @include text-height-crowded;
      @include text-margin-flow;
      @include width-text(35);
    }
    img.image-left {
      margin-top: 5px;
      margin-right: 10px;
      margin-bottom: 5px;
      float: left;
    }
    .article-footer-section-small {
      p {
        @include text-size($text-size-smaller);
      }
    }
    &.article-footer-wide {
      @include page-width;
    }

    #footnotes {
      ol {
        list-style-position: outside;
      }
      li {
        margin-left: 1em;
      }
      p {
      }
    }

    #colophon {
      @include text-size($text-size-tiny);
      color: $grey-darker;
    }
  }
}
nav#article-relative-nav {
  @include inset-center;
  @include clearfix;
  @include width-text(50);
  margin-bottom: 1em;
  font-family: $display-family;
  line-height: 1em;
  position: relative;
  a {
    @include text-size($text-size-smaller);
    color: $grey-darker;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 0 1.2em;
    .rel {
      font-weight: bold;
      display: block;
      margin: 0 -1.2em;
    }
    .title {
      color: $blackish;
    }
  }
  .later {
    @include span-columns(2);
    text-align: left;
  }
  .home {
    @include span-columns(2);
    text-align: center;
    font-weight: bold;
  }
  .earlier {
    @include span-columns(2);
    text-align: right;
  }
}

.sidenote-container {
  position: relative;
  padding-right: 0.2em;
}
.sidenote-number {
  position: relative;
  vertical-align: baseline;
  color: $red-med;
}

input.sidenote-toggle {
  display: none;
}

label.sidenote-number {
  @include text-size($text-size-small);
  top: -0.5rem;
  left: 0;
  position: absolute;
}
.sidenote {
  float: right;
  clear: right;
  margin-right: -15 * $text-base;
  width: 11.5 * $text-base;
  margin-top: 0;
  margin-bottom: 2em;
  @include text-size($text-size-tiny);
  line-height: $text-height-crowded;
  vertical-align: baseline;
  position: relative;
  color: $grey-darkish;
  white-space: normal;

  @include media($mobile) {
    display: none;
  }

  .sidenote-number {
    position: absolute;
    /* transform: translateX(-100%) translateX(-0.25rem); */
    /* -webkit-transform: translateX(-100%) translteX(-0.25rem); */
    left: -1em;
    &:after {
      content: ". ";
    }
  }
}

.sidenote-toggle:checked + .sidenote {
  display: block;
  float: left;
  clear: both;
  width: 95%;
  margin: 1rem 5%;
}


#footnoter {
  position:           fixed;
  bottom:             0;
  left:               0;
  right:              0;
  background:         $grey-bright;
  border-top: 2px solid $grey-warm;
  opacity:            0;
  transition:         opacity, transform;
  transition-duration: 0.25s;
  .footnote-liner {
    @include inset-center;
    @include region-margin(0.5);
    max-width:        666px;
  }
  .footnote-number {
    float: left;
    margin-right: 10px;
    margin-top: -5px;
    font-size: 1.5em;
    opacity: 0.25;
  }
  .footnote-content {
    @include          text-size($text-size-small);
    @include          text-height-crowded;
    margin-left:      2em;
    a {
      $link-trans: 0.25s;
      @include transition(
        color $link-trans ease-in
      );
      @include underline($red-med);
      color: $red-med;
      margin: -3px;
      padding: 3px;
      $visited-link: darken($red-med, 10%);
      &:visited {
        color: $visited-link;
        @include underline-color($visited-link);
      }
    }
  }
}

.disclosure-notice {
  font-weight: bold;
  color: $red-med;
}

body.mistrusting-email {
  header h1 {
    font-size: 291%;
  }
}
.talk-video {
  background-color: $grey-warmer;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 2em;
}

.nowrap {
  white-space: nowrap;
}

.katex {
  line-height: 0 !important;
}
.newthought {
  font-size: 90%;
  line-height: inherit;
  font-family: $display-family;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
