@import "layout";
@import "colors";

.page-home {
  header.main-header {
    @include page-level;
    height: 500px;

    background-image: url(/assets/images/nadir_abajo_sm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    @media  (min-width: 1024px){
      background-image: url('/assets/images/nadir_abajo_lg.jpg')
    }
    @media (min-width: 500px) and (min--moz-device-pixel-ratio: 1.5),
          (min-width: 500px) and (-o-min-device-pixel-ratio: 3/2),
          (min-width: 500px) and (-webkit-min-device-pixel-ratio: 1.5),
          (min-width: 500px) and (min-device-pixel-ratio: 1.5),
          (min-width: 500px) and (min-resolution: 144dpi),
          (min-width: 500px) and (min-resolution: 1.5dppx)
    {
      background-image: url('/assets/images/nadir_abajo_lg.jpg')
    }

    hgroup {
      height: 162px;
      padding-top: 90px;
      @include inset;
      @include inset-center;
      @include width-text($list-width);

      // color: $yellow-bold;
      color: $grey-warm;

      p {
        line-height: 1em;
        max-width: 30em;
      }
      h1 {
        line-height: 1.25em;
        margin-left: -3px;
        @include display-type;
      }
      h1 .first {
        font-weight: 100;
      }
      h1 .last {
        font-weight: 700;
      }
    }
  }
}

