@import "bourbon";
@import "neat-helpers";
$grid-columns: 6;
$mobile-width: 480px;
$tablet-width: 768px;
$medium-width: 1199px;
$mobile: new-breakpoint(max-width $mobile-width);
$tablet: new-breakpoint(min-width ($mobile-width + 1) max-width $tablet-width);
$small:  new-breakpoint(max-width $tablet-width);
$medium: new-breakpoint(min-width ($tablet-width + 1) max-width $medium-width);
$large:  new-breakpoint(min-width $medium-width + 1);
@import "neat";
@import "type";

$page-inset: 20px;
$page-width: 1000px;
@mixin inset() {
  padding-left:       $page-inset;
  padding-right:      $page-inset;
}
@mixin inset-margin {
  margin-left: $page-inset;
  margin-right: $page-inset;
}
@mixin inset-center {
  margin-left: auto;
  margin-right: auto;
}
@mixin flush() {
  margin-left:        $page-inset * -1;
  margin-right:       $page-inset * -1;
}

@mixin page-level() {
  @include inset;
  @include clearfix;
}
@mixin page-width($offset: 0) {
  max-width: $page-width + $offset;
}

@mixin width-text($wid: 35) {
  max-width: $wid * $text-base;
  @include media($mobile) {
    max-width: auto;
  }
}

@mixin region-padding($scale: 1) {
  padding-top: 2em * $scale;
  padding-bottom: 2em * $scale;
}
@mixin region-margin($scale: 1) {
  margin-top: 2em * $scale;
  margin-bottom: 2em * $scale;
}
@mixin section-margin($scale: 1) {
  margin-bottom: 1em * $scale;
}
@mixin section-padding($scale: 1) {
  padding-top: 1em * $scale;
}

@mixin list-margin($scale: 1) {
  margin-bottom: 1em * $scale;
}
