@import "reset";
@import "base";
@import "type";

@import "colors";
@import "syntax";

@import "layout";


body {
  font-family:      $main-family;
  @include          text-size;
  @include          text-height-normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  background-color: $grey-bright;
  color:            $blackish;
  &.background-dark {
    background-color: #3F3A42;
    color: $grey-warm;
  }
}
hr {
  border:           none;
  border-top:       1px dotted $grey-lukewarm;
}
h1 {
  @include          text-size($octave * $fifth);
  line-height:      $text-height-double;
  @include display-type;
  font-weight:      700;
}
h2 {
  @include display-type;
  font-weight:      300;
}
@mixin spaced-header {
  text-transform:   uppercase;
  letter-spacing:   0.2em;
  font-weight:      100;
  margin-bottom:    0.5em;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
sup {
  vertical-align:   super;
  @include text-size($text-size-small);
  line-height:      0;
}
abbr {
  cursor:           help;
  border-bottom:    1px dotted $grey-warm;
  letter-spacing:   0.1em;
}
blockquote {
  padding:          0.5em 2em;
  margin-bottom:    1em;
}
pre {
  margin:           1em 0;
  padding:          $text-base * 1 / $fifth;
  border-radius:    4px;
  background-color: $grey-superbright;
  word-break:       break-all;
  word-wrap:        break-word;
}
code {
  font-family:      $mono-family;
  font-size:        percentage(1 / $second);
  color:            $red-med;
  background-color: $grey-superbright;

  border-radius:    4px;
  padding:          2px 4px;
}

ol {
  display:          block;
  list-style-type:  decimal;
}
ul {
  display:          block;
  list-style-type:  disc;
}

li {
  display:          list-item;
}

section.main-content {
  @include width-text($list-width);
  @include inset-center;
  @include inset;
  padding-bottom: 2em;
}

.article-metadata {
  @include            text-size($text-size-small);
  text-transform:     uppercase;
  letter-spacing:     0.05em;
  @include display-type;
  font-weight:        100;
  color:              $grey-lukewarm;
  .category {
    font-weight:      700;
    &:before {
      content:        "\2022\00a0";  // &bull;&nbsp;
    }
  }
}
.archive-list {
  article {
    @include list-margin;
    .article-metadata {
      float: right;
      @include text-size($text-size-tiny);
    }
    h1, h2 {
      display: inline;
    }
    h1 {
      @include display-type;
      font-weight:        700;
      @include            text-size($third);
      line-height:        1;
      a {
        color:            $yellow-bold;
        text-decoration:  none;
      }
      a:visited {
        color:            desaturate($yellow-bold, 40%);
      }
    }
    h2 {
      font-weight:        300;
      color:              $grey-warm;
    }
  }
}

$footer-height-mob: 60px;
$footer-height-tab: 40px;

html,body {
  height: 100%;
}
#not-footer {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto;

  margin-bottom: -1 * ($footer-height-tab);
  @include media($mobile) {
    margin-bottom: -1 * ($footer-height-mob);
  }
  #push {
    height: $footer-height-tab;
    @include media($mobile) {
      height: $footer-height-mob;
    }
  }
}
#footer {
  min-height: $footer-height-tab;
  @include media($mobile) {
    min-height: $footer-height-mob;
  }
}

footer#footer {
  @include inset;
  @include clearfix;
  background-color: $blacker;
  color: $grey-darker;
  &>div {
    @include page-width;
    @include inset-center;
    @include region-padding(0.25);
  }
  #copyright {
    @include span-columns(2);
    text-align: right;
    @include media($mobile) {
      @include span-columns(1 of 1);
      text-align: left;
    }
    p {
      @include text-size($text-size-tiny);
    }
  }
  #links {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(1 of 1);
    }
    $icon-size: 16px;
    $icon-offset: 21px;
    $icon-spacing: 4px;
    a {
      text-decoration: none;
    }
    .icon {
      height: $icon-size;
      width: $icon-size;
      background-size: contain;
      background-position: center center;
      display: inline-block;
      margin-top: $icon-spacing;
      margin-bottom: $icon-spacing;
      margin-left: 4px;
    }
  }
}

@import "icons";
@import "home";
@import "article";
