@import "reset";
@import "base";
@import "type";

@import "colors";
@import "syntax";

@import "layout";


body {
  font-family:      $main-family;
  @include          text-size;
  @include          text-height-normal;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  background-color: $grey-bright;
  color:            $blackish;
  &.background-dark {
    background-color: #3F3A42;
    color: $grey-warm;
  }
}
hr {
  border:           none;
  border-top:       1px dotted $grey-lukewarm;
}
h1 {
  @include          text-size($octave * $fifth);
  line-height:      $text-height-double;
  @include display-type;
  font-weight:      700;
}
h2 {
  @include display-type;
  font-weight:      300;
}
@mixin spaced-header {
  text-transform:   uppercase;
  letter-spacing:   0.2em;
  font-weight:      100;
  margin-bottom:    0.5em;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
sup {
  vertical-align:   super;
  @include text-size($text-size-small);
  line-height:      0;
}
abbr {
  cursor:           help;
  border-bottom:    1px dotted $grey-warm;
  letter-spacing:   0.1em;
}
blockquote {
  padding:          0.5em 2em;
  margin-bottom:    1em;
}
pre {
  margin:           1em 0;
  padding:          $text-base * 1 / $fifth;
  border-radius:    4px;
  background-color: $grey-superbright;
  word-break:       break-all;
  word-wrap:        break-word;
}
code {
  font-family:      $mono-family;
  font-size:        percentage(1 / $second);
  /* background-color: transparentize($grey-superbright, 0.2); */

  border-radius:    4px;
  padding:          1px 2px;
  margin: -1px -2px;
  line-height: 0;
}

ol {
  display:          block;
  list-style-type:  decimal;
}
ul {
  display:          block;
  list-style-type:  disc;
}

li {
  display:          list-item;
}

section.main-content {
  @include width-text($list-width);
  @include inset-center;
  @include inset;
  padding-top: 2em;
  padding-bottom: 2em;

  h3 {
    font-family: $display-family;
    color: $red-med;
    text-transform: uppercase;
    font-weight: 700;
    @include text-size($text-size-smaller);
  }
}

.article-metadata {
  @include            text-size($text-size-small);
  color:              $grey-darker;
  line-height: 1;
  time {
    @include display-type;
    font-weight:        700;
    text-transform:     uppercase;
    @include text-size(1/$third);
    .ord {
      text-transform: none;
    }
  }
  h2 {
    font-family: $main-family;
  }
}
.archive-list {
  article {
    @include list-margin;
    a {
      text-decoration:  none;
      h1 {
        color:            $red-med;
        font-weight: 100;
      }
      &:visited {
        h1 {
          color: darken($red-med, 20%);
        }
      }
    }
    h1, h2 {
      display: inline;
    }
    h1 {
      @include display-type;
      font-weight:        700;
      @include            text-size($third);
      line-height:        1;
    }
    h2 {
      font-weight:        300;
      color:              $grey-darkish;
    }
  }
}

$footer-height-mob: 60px;
$footer-height-tab: 40px;

html,body {
  height: 100%;
}
#not-footer {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto;

  margin-bottom: -1 * ($footer-height-tab);
  @include media($mobile) {
    margin-bottom: -1 * ($footer-height-mob);
  }
  #push {
    height: $footer-height-tab;
    @include media($mobile) {
      height: $footer-height-mob;
    }
  }
}
#footer {
  min-height: $footer-height-tab;
  @include media($mobile) {
    min-height: $footer-height-mob;
  }
}

footer#footer {
  @include clearfix;
  @include width-text($list-width + 2);
  @include inset-center;
  @include inset;
  /* color: $grey-darker; */
  &>div {
    /* @include page-width; */
    /* @include inset-center; */
    /* @include region-padding(0.25); */
  }
  #copyright {
    float: right;
    text-align: right;
    font-family: $display-family;
    @include media($mobile) {
      text-align: left;
      float: left;
    }
    p {
      @include text-size($text-size-tiny);
    }
    .notice {
      color: $grey-darkish;
    }
    .name {
      color: $grey-lukewarm;
    }
  }
  #links {
    float: left;
    $icon-size: 21px;
    $icon-spacing: 8px;
    a {
      display: inline-block;
      padding: 3px 5px 4px;
      margin-right: 5px;
      border-radius: 3px;
      text-decoration: none;
    }
    .icon {
      height: $icon-size;
      width: $icon-size;
      background-size: contain;
      background-position: center center;
      display: inline-block;
    }
  }
}

span.widont {
  @include media($mobile) {
    display: inline-block;
  }
}

@import "icons";
@import "home";
@import "article";
