article.article-main
  
  header.article-header.article-header-bannerless
    div.info
      h1: a(href=page.url)= page.title
      if page.summary
        h2= page.summary
  
  section.article-content
    .section-content.talk-video
      if page.youtube
        iframe(width=420 height=325 src="https://www.youtube.com/embed/" + page.youtube frameborder=0 allowfullscreen)
  
    != content

nav#article-relative-nav
  .later
    | &nbsp;
  .home
    a(rel="up" href="/") home
  .earlier
    | &nbsp;
