{% set bodyclass = "article" %}
{% extends "layout.html" %}

{% block title %}
  {{ page.title }} -
{% endblock %}

{% block content %}
<article class='article-main'>
  {% set intro = page.parent['_intro.markdown'] %}
  {% if intro %}
  <section class='lead'>
    {{ intro._htmlraw }}
  </section>
  {% endif %}

  {% set banner = page.parent['_banner.jpg'] %}
  <header class='article-header {% if banner %}article-header-banner{% endif %}'>
    {% if banner %}
    <div class='image' style='background-image: url({{ page.url }}_banner.jpg);'></div>
    {% endif %}
    <div class='info {{ page.metadata.header.info }}'>
      <h1 {% if page.metadata.header.title %}
        class="article-header-{{ page.metadata.header.title }}"
        {% endif %}
        {% if page.metadata.header.title_s %}
        style="{{ page.metadata.header.title_s }}"
        {% endif %}
        >{{ page.title }}</h1>
      {% if page.metadata.subtitle %}
      <h2
        {% if page.metadata.header.subtitle_s %}
        style="{{ page.metadata.header.subtitle_s }}"
        {% endif %}
        >{{ page.metadata.subtitle }}</h2>
      {% endif %}
      {% include "metadata.html" %}
    </div>
  </header>

  <section class='article-content'>
    {{ page.html }}
  </section>

  <div id='footnoter'>
    <div class='footnote-liner'>
      <div class='footnote-number'></div>
      <div class='footnote-content'></div>
    </div>
  </div>

  {% set freads = page.parent['_further_reading.markdown'] %}
  <footer class='article-footer{% if freads %} article-footer-wide{% endif %}'>
    {% if freads %}
    <section id='further-reading'>
      <h2>Further Reading</h2>
      <div class='footer-section-content'>
        {{ freads._htmlraw }}
      </div>
    </section>
    {% endif %}

    {% if page.metadata.footnotes %}
    <section id='footnotes'>
      <h2>Footnotes</h2>
      <div class='footer-section-content'>
        {{ page.metadata.footnotes }}
      </div>
    </section>
    {% endif %}

    <section id="copyright">
      <h2>Copyright</h2>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
        <img  alt="Creative Commons License"
              style="border-width:0"
              src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" />
      </a>
      <p>
        Words and Images &copy; Matthew Lyon, 2014.
        This work is licensed under a 
        <a  rel="license"
            href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">
            Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License
        </a>.
        If you wish to use reproduce any of this context in a commercial
        context, explicit permission is required.  Please contact me directly.
      </p>
    </section>
  </footer>
</article>
{% endblock %}

