{% set body_class = "article" %}
{% extends "layout.html" %}

{% block title %}
{{ page.title }} - {{ site.name }}
{% endblock %}

{% block content %}
<article class='article-main'>
  {% set intro = page.siblings['_intro.markdown'] %}
  {% if intro %}
  <section class='lead'>
    {{ intro.contents }}
  </section>
  {% endif %}

  {% set banner = page.siblings['_banner.jpg'] %}
  <header class='article-header {% if banner %}article-header-banner{% endif %}'
    {% if banner %}
    style='background-image: url(/{{ banner.url }});'
    {% endif %}>
    <div class='info {{ page.header.info }}'>
      <h1 {% if page.header.title %}
        class="{{ page.header.title }}"
        {% endif %}
        {% if page.header.title_style %}
          style="{% for key, value in page.header.title_style %}
            {{ key }}: {{ value }};
          {% endfor %}"
        {% endif %}
        ><a href="{{ page.url }}">{{ page.title | smarty }}</a></h1>
      {% if page.subtitle %}
      <h2>{{ page.subtitle | smarty }}</h2>
      {% endif %}
      {% include "_metadata.html" %}
    </div>
  </header>

  <section class='article-content'>
    {{ page.contents }}
  </section>

  <div id='footnoter'>
    <div class='footnote-liner'>
      <div class='footnote-number'></div>
      <div class='footnote-content'></div>
    </div>
  </div>

  {% set freads = page.siblings['_further_reading.markdown'] %}
  <footer class='article-footer{% if freads %} article-footer-wide{% endif %}'>
    {% if freads %}
    <section id='further-reading' class='article-footer-section-wide'>
      <h2>Further Reading</h2>
      <div class='footer-section-content'>
        {{ freads.contents }}
      </div>
    </section>
    {% endif %}

    {% if page.footnotes %}
    <section id='footnotes' class='article-footer-section-wide'>
      <h2>Footnotes</h2>
      <div class='footer-section-content'>
        {{ page.footnotes }}
      </div>
    </section>
    {% endif %}

    <div class='article-footer-sections-narrow'>
      {% if page.updated %}
      <section id="updated" class='article-footer-section-small'>
        <p>This piece has been modified since its initial publication.
          <a href="{{ github_modifications_base }}{{ page.url }}">Browse the changelog</a>
          if you're so inclined.
        </p>
      </section>
      {% endif %}
    </div>
  </footer>
</article>
{% endblock %}

