{% set body_class = "article" %}
{% extends "layout.html" %}

{% block title %}
{{ page.title }} -
{% endblock %}

{% block content %}
<article class='article-main'>
  {% block heading %}
  {% include "partials/heading.html" %}
  {% endblock %}

  <section class='article-content'>
    {% block body %}
    {{ page.contents }}
    {% endblock %}
  </section>

  <div id='footnoter'>
    <div class='footnote-liner'>
      <div class='footnote-number'></div>
      <div class='footnote-content'></div>
    </div>
  </div>

  <footer class='article-footer{% if footer_wide %} article-footer-wide{% endif %}'>
    {% block footer %}
    {% endblock %}

    {% if page.footnotes %}
    <section id='footnotes'
      {% if footer_wide %}class='article-footer-section-wide'{% endif %}
      >
      <h2>Footnotes</h2>
      <div class='footer-section-content'>
        {{ page.footnotes }}
      </div>
    </section>
    {% endif %}

    <div class='article-footer-sections-narrow'>
      {% if page.updated %}
      <section id="updated" class='article-footer-section-small'>
        <p>This piece has been modified since its initial publication.
          <a href="{{ github_modifications_base }}{{ page.url }}">Browse the changelog</a>
          if you're so inclined.
        </p>
      </section>
      {% endif %}
    </div>
  </footer>
</article>
{% endblock %}

{% macro footer_section(name, contents) %}
<section id=''>
  <h2>{{ name }}</h2>
  <div class='footer-section-content'>
    {{ contents }}
  </div>
</section>
{% endmacro %}
